.header_icon{
    object-fit: contain;
    height:50px;
    margin-left: 10px;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    width: 100%;
    top: 0;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.header_center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 999px;
}
.header_center>input{
    border: none;
    /* width: 250px; */
    padding:10px;
    height: 10px;
    background: none;
    /* outline-width: 0; */
    outline:none;
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}